<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Remote Access
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="getCmd('ls')">Execute 'ls'</ion-button>
  <ion-button (click)="getCmd('uname')">Execute 'system info'</ion-button>
  <ion-list *ngIf="cmdResults != null">
    <ion-item *ngFor="let result of cmdResults">
      <ion-text class="ion-text-wrap">{{result}}</ion-text>
    </ion-item>
  </ion-list>

</ion-content>